.row{
	display: flex;
	display: -webkit-flex;
}
.description {
	size:705px;
}
.screenshot{
	size:460px;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}